// @import 'custom.scss';
// @import 'table.scss';
// @import 'utilities.scss';

@import "node_modules/bootstrap/scss/bootstrap";

.header-color {
  background-color: #008CFF;
}

.effecti-button {
  @extend .btn;
  @extend .btn-primary;
  background-color: #008CFF;
  border-color: #008CFF;
}